<div class="row">
    <div class="col-md-8">
        <h3 style="padding-bottom: 20px;">Please enter your details below in order to get in contact:</h3>          <!-- Contact Information - add validation-->
        <div style="padding-left: 40px; padding-right: 100px;">
            <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingName" placeholder="First Name">
            <label for="floatingName">First Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingSurname" placeholder="Last Name">
            <label for="floatingSurname">Last Name</label>
        </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email Address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="number" class="form-control" id="floatingNumber" placeholder="Contact Number">
                <label for="floatingNumber">Contact Number</label>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Message...</label>
            </div>
        </div>
        <a style="margin-left: 40px;" href="/home" class="btn btn-danger">Send Email</a>
    </div>
</div>